.hero-section {
  position: relative;
  isolation: isolate;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  min-height: 100vh;
  padding: 10px 5px;
  overflow: hidden;
  text-align: center;
  background-color: #030712;
}

.hero-section::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background: radial-gradient(circle at center, #111827, #1f2937, #030712);
  animation: pulseGlow 4s ease infinite alternate-reverse;
}

.hero-section__content {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.hero-section__desc,
.hero-section__social-container,
.hero-section__about {
  position: relative;
}

.hero-section__desc {
  color: rgb(255, 222, 112);
  font-size: 16px;
  cursor: default;
}

h1 {
  position: relative;
  color: #ffffff;
  font-size: 60px;
  cursor: default;
  transition: color 0.2s ease;
}

.hero-section__name {
  color: rgb(255, 222, 112);
  transition: color 0.2s ease;
}

 h1:hover {
  color: rgb(255, 222, 112);
}

h1:hover 
.hero-section__name {
  color: white;
}

.hero-section__social-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 250px;
  margin-top: 20px;
  padding: 10px 15px;
  border: 1px solid rgba(96, 96, 100, 0.292);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.03);
  backdrop-filter: blur(10px);
}

.hero-section__social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid rgb(42, 42, 42);
  border-radius: 50%;
  background-color: #56565660;
  box-shadow: 0 2px 10px rgba(255, 255, 255, 0.236);
  cursor: pointer;
  transition: 0.2s ease;

  img {
    width: 22px;
    height: 22px;
  }

  &:hover {
    border-color: #f7d071;
    background-color: #f7d071;
    color: #111;
    box-shadow: 0 8px 25px rgba(247, 208, 113, 0.4);
    transform: translateY(-2px) scale(1.05);
  }
}

.hero-section__about {
  padding: 10px 28px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.03);
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.5px;
  backdrop-filter: blur(10px);
  cursor: pointer;
  transition: 0.4s ease;

  &:hover {
    border-color: #f7d071;
    background-color: #f7d071;
    color: #111;
    box-shadow: 0 8px 25px rgba(247, 208, 113, 0.4);
    transform: translateY(-2px);
  }
}

@keyframes pulseGlow {
  from {
    transform: scale(1.02);
  }

  to {
    transform: scale(1.4);
  }
}
