* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  position: relative;
  width: 100%;
  min-height: 100%;
  background: radial-gradient(circle at center, #111827, #1f2937, #030712);
  background-color: #1F2A3A;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: white;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  min-width: 20px;
}
